    

    <header style="background-image:url(<%= asset_path 'header.jpg' %>)">
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">Whatever You Imagine<br> It Comes True!</h1>
                <hr>
                <p>Just do it!</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <i class="fa fa-3x fa-diamond sr-icons"></i>
                    <h2 class="section-heading">Hyuk Jun Yoon</h2>
                    <hr class="light">
                    <p class="text-faded col-md-4"><span class="basic_info_heading">Birth</span> <br> 1991.09.17<br> South Korea</p>
                    <p class="text-faded col-md-4"><span class="basic_info_heading">Address</span> <br> 15-46, Hwayang-dong, Gwangjin-gu,Seoul,<br>South Korea </p>
                    <p class="text-faded col-md-4"><span class="basic_info_heading">Contact</span> <br> +82 10-9290-0170 <br> holangnabe@gmail.com</p>
                    <p class="col-lg-12"><a href="#services" class="page-scroll btn btn-default btn-xl sr-button">Get Started!</a></p>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">At Your Service</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-graduation-cap text-primary sr-icons"></i>
                        <h3>Education</h3>
                        <div class="row">
                            <div class="col-sm-2" style="font-size:16px">Mar.2011~<br>Aug.2017(E)</div>
                            <div class="col-sm-10" style="font-size:16px">Sungkyunkwan University<br>Global Business Administration</div>
                        </div>
                        <p class="text-muted" style="font-size:14px; text-align:left"><strong>Selected Coursework</strong>: Intermediate Accounting, Derivative Securities and Corporate Risk Management, Business Statistics I & II, Introduction to Databases, Entrepreneurship Theory and Practice, and so on.
</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
                        <h3>Ready to Ship</h3>
                        <p class="text-muted">You can use this theme as is, or you can make changes!</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
                        <h3>Up to Date</h3>
                        <p class="text-muted">We update dependencies to keep things fresh.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
                        <h3>Made with Love</h3>
                        <p class="text-muted">You have to make your websites with love these days!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a href="assets/portfolio/fullsize/1.jpg" class="portfolio-box">
                        <%= image_tag "portfolio/thumbnails/1.jpg", class: 'img-responsive' %>
                        
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="assets/portfolio/fullsize/2.jpg" class="portfolio-box">
                        <%= image_tag "portfolio/thumbnails/2.jpg", class: 'img-responsive' %>
                        
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="assets/portfolio/fullsize/3.jpg" class="portfolio-box">
                        <%= image_tag "portfolio/thumbnails/3.jpg", class: 'img-responsive' %>

                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="assets/portfolio/fullsize/4.jpg" class="portfolio-box">
                        <%= image_tag "portfolio/thumbnails/4.jpg", class: 'img-responsive' %>
                        
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6 popup-gallery">
                    <a href="assets/portfolio/fullsize/5.jpg" class="portfolio-box">
                        <%= image_tag "portfolio/thumbnails/5.jpg", class: 'img-responsive' %>
                      
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="assets/portfolio/fullsize/6.jpg" class="portfolio-box">
                        <%= image_tag "portfolio/thumbnails/6.jpg", class: 'img-responsive' %>
                       
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>Free Download at Start Bootstrap!</h2>
                <a href="http://startbootstrap.com/template-overviews/creative/" class="btn btn-default btn-xl sr-button">Download Now!</a>
            </div>
        </div>
    </aside>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x sr-contact"></i>
                    <p>+82 10-9290-0170</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a href="mailto:your-email@your-domain.com">holangnabe@gmail.com</a></p>
                </div>
            </div>
        </div>
    </section>
